.topCartItem {
  text-align: center;
  border: 1px solid #bfbfbf;
  margin: 10px 10px 30px;
  max-width: 240px;
}
.heading {
  width: 100%;
  font-size: 20px;
  border-bottom: 1px solid #8d8d8d;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: #D32f2f;
}
.title > a {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.imgFluid {
  max-width: 100%;
  height: auto;
}
